main {
    max-width: 500px;
    margin: 0 auto;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
h1 {
    display: block;
}
.hide {
    display: none;
}

.modalbutton {
    float: right;
    display: block;
    bottom: 0px;;


}


/* for browsers that support GRID, apply the below*/
@supports (display:grid) {

    body {
        display: grid;
        grid-template-areas: "wrapper topbar""wrapper maincontainer";
        grid-template-columns: 400px 2fr;

    }

    #wrapper {
        grid-area: wrapper;
    }

    #topbar {
        grid-area: topbar;
    }


main {
    background-color: #E2684B;
    max-width: none;
    margin: 0;
    grid-area: maincontainer;

}
    article {
        margin: 0px;
    }

    .movieslist>section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 40px;
    }
    .movieslist>section>h1{
        grid-column: 1/-1;
        grid-gap: auto;
        padding-top: 4rem;
        padding-bottom: 4rem;
        padding-left: 0.5rem;
        border-radius: 0.3rem;
        background-color: #3350A3;
        color: white;
        text-align: center;

    }

}

/*POSTER movies*/

.movie_img{
    display: block;
    width: 250px;
    height: auto;
    margin: auto;
}


.moviesbody{
    display: block;
    width: 250px;
    height: 600px;
    padding: 1rem;
    margin: auto;
    background-color: white;
}
/* Menu style */

ul {
    list-style-type: none;
    background-image: url(imgs/poster_sketches_30.jpg);
    background-position: bottom;
    background-size: cover;
    position:fixed;
    height: 100%;
    overflow: auto;
    width: 350px;
    margin: 0;


}


li a {
display:flex;
    color: white;
    border-style: solid;
    background-color: #3350A3;

    position: relative;
    top: 200px;
    left: -20px;
    padding: 1rem;
    margin: 1rem;
    text-align:center;
    text-decoration: none;



}

.active {
    background-color: #E2684B;
}


a:hover {
    background-color:#E2684B;
}
/*Pixar logo*/

#pixarlogo {
    position: absolute;
    height: auto;
    width: 300px;

    margin: 10px;




}
/*topbar*/
#topbar {
    background-color: aqua;
    position: static;
}
